$color-primary: #106b87;
$color-primary-dark: #003f69;
$color-primary-light: #157a8c;

$color-grey: #b3aca4;
$color-white: #fff;
$color-dark: #001f33;

$default-font-size: 1.6rem;

$transition-primary: all 0.3s ease-in-out;
