.about {
  &__wrapper {
    display: flex;
  }

  &__text-box {
    flex: 1;
    padding: 0 3rem;
    @include respond(tab-port) {
      padding: 0 5rem;
    }
    @include respond(phone) {
      padding: 0 1.5rem;
    }
  }

  &__photo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-port) {
      display: none;
    }
  }

  &__img {
    display: block;
    width: 80%;
    border-radius: 5px;
  }
}
