.services {
  background-color: $color-white;
  @include respond(tab-land) {
    padding: 4rem;
    margin-bottom: 6rem;
  }

  @include respond(tab-port) {
    padding: 10rem 1rem 1rem 1rem;
    margin-bottom: 0;
  }
  @include respond(phone) {
    padding: 8rem 3rem 0 3rem;
    margin-bottom: 0;
  }

  &__cards-wrapper {
    margin-top: 6rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: column;
    }
    @include respond(phone) {
      margin-top: 8rem;
      padding-bottom: 2rem;
    }
  }
}
