.container {
  max-width: 120rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

//////PADDING
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 4rem 0;
}
.py-4 {
  padding: 6rem 0;
}
.py-5 {
  padding: 8rem 0;
}

.pb-1 {
  padding-bottom: 3rem;
}
